.home-container {
    .home-bread {
        height: 64px;
        line-height: 64px;
        color: #666;
    }
    .ant-breadcrumb>span:last-child {
        color: #999;
        font-weight: 400;
    }
}
